body {
    margin: 0;
    padding: 0;
    background-image: url('/image/mercedes.jpg'); /* Remplacez avec le chemin vers votre image */
    background-size: cover;
    background-position: 0% ;
    background-repeat: no-repeat;
    height: 100vh; /* 100% de la hauteur de la vue */
    color: white;
    text-align: center;
}

#accueil> * {

    text-align: left;
    margin-top: 330px;
}
#accueil .form-label {
   
        padding-top: calc(.375rem + var(--bs-border-width));
    
}
#accueil{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

#accueil legend{
    width: auto;
}